.main {
    width: calc(100% - 375px);
    text-align: center;
    overflow-x: visible;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  .order {
    color: rgba(255,255,255,.3);
    font-size: 45px;
    margin: 0;
    font-weight: 400;
    text-align: center;
    padding: 20px 30px;
}

.note-toggle {
    background: rgba(0,0,0,.2);
    color: rgba(255,255,255,.3);
    padding: 8px 15px 10px 15px;
    text-decoration: none;
    display: inline-block;
  }

.note-toggle:hover {
    text-decoration: underline;
    color: rgba(255,255,255,.4);
  }

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}