* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  html,body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
  }

  body {
    background: #2e2a23;
    position: relative;
  }

  h1, h2, h3, h4, h5 {
    font-weight: 600;
  }
  